@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

/* Pastikan container map punya tinggi pasti */
#map-container {
  height: 250px;
  width: 100%;
  z-index: 1;
}
/* Membuat input terasa lebih lembut dan modern */
.search-box .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.search-box .input-group-text {
    border-radius: 50px 0 0 50px; /* Membuat sisi kiri bulat */
}

.search-box .btn {
    border-radius: 0 50px 50px 0; /* Membuat sisi kanan bulat */
    font-weight: 600;
    transition: all 0.3s ease;
}

.search-box .btn:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
}

.search-box input {
    height: calc(2.25rem + 10px); /* Sedikit lebih tinggi */
}